@model MyLittleBusiness.Models.Client

@{
    ViewData["Title"] = "Szczegóły klienta";
}

<h1>Szczegóły</h1>

<div>
    <h4>Klient nr. @Model.ClientId</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClientId">Edytuj</a> |
    <a asp-action="Index">Powrót do listy klientów</a>
</div>
