@model MyLittleBusiness.Models.Facture

@{
    ViewData["Title"] = "Szczegóły faktury";
}
<style>
    .btn-back{
        border:solid grey 2px;
        border-radius:15px;
    }
    .card{
        border: 1px solid grey;
        border-radius: 15px;
        background-color: mediumseagreen;
    }
    .table{
        border-bottom:black solid 1px;
    }
</style>

<div class="row d-flex justify-content-start">
    <div class="btn-group col-1">
        <a class="page-link btn btn-back text-black" asp-action="Index" asp-route-id="@Model?.ClientId">Powrót</a>
    </div>
</div>

<h1 class="text-center">Szczegóły</h1>

<div class="card p-2">
    <h2 class="p-2 text-center">Faktura @Model.FactureId</h2>
    <hr />
    <h3 class="p-2">Całkościowa wartośc netto towaru: @ViewData["sumNetto"] zł</h3>
    <h3 class="p-2">Całościowa wartość brutto towaru: @ViewData["sumBrutto"] zł</h3>
    <dl class="row p-2 m-2">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
    </dl>
    <hr />
    <h3 class="p-3">Zawiera towary:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa towaru</th>
                <th>Ilość</th>
                <th>Wartość brutto</th>
            </tr>
        </thead>
        @foreach (var item in ViewBag.items)
        {
            <tr>
                <th>@item.Name</th>
                <th>@item.Amount</th>
                <th>@item.PriceGross</th>
            </tr>
        }
    </table>
</div>
