@model MyLittleBusiness.Models.FactureHasItem

@{
    ViewData["Title"] = "Usuń towar z faktury";
}

<h1>Usuń</h1>

<h3>Czy napewno chcesz usunąć tę pozycję z faktury?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceNetto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceNetto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceGross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceGross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facture.FactureId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FactureHasItemId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id=@Model.FactureId>Powrót do listy towarów w fakturze</a>
    </form>
</div>
