@model MyLittleBusiness.Models.Item

@{
    ViewData["Title"] = "Usuń towar";
}

<style>
    .card{
        background-color: mediumseagreen;
        color: white;
    }
</style>

<h1 class="text-center m-3 p-3">Usuń</h1>

<h3 class="text-center m-3 p-3">Czy napewno usunąc tę pozycję z listy towarów?</h3>

<div class="d-flex justify-content-center">
    <div class="card m-2 col-md-6 p-3 text-center">
        <div class="card-title">
            <h3 class="m-2 p-2">Towar nr. @Model.ItemId</h3>
        </div>
        <hr />
        <div class="m-2 p-2">
            <div class="row p-1 m-1">
                <div class="col-6">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="row p-1 m-1">
                <div class="col-6">
                    @Html.DisplayNameFor(model => model.PriceNetto)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.PriceNetto) zł
                </div>
            </div>
            <div class="row p-1 m-1">
                <div class="col-6">
                    @Html.DisplayNameFor(model => model.PriceGross)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.PriceGross) zł
                </div>
            </div>
            <div class="row p-1 m-1">
                <div class="col-6">
                    @Html.DisplayNameFor(model => model.VatValue)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.VatValue)%
                </div>
            </div>
            <div class="row p-1 m-1">
                <div class="col-6">
                    @Html.DisplayNameFor(model => model.ProductCountAs)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.ProductCountAs)
                </div>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ItemId" />
                <input type="submit" value="Usuń" class="btn btn-danger" />
                <a class="btn btn-warning text-white text-decoration-none btn-link" asp-action="Index"><div>Powrót</div></a>
            </form>
        </div>
    </div>
</div>